<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Controller.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categorias</servlet-name>
        <servlet-class>Controller.Categorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Producto</servlet-name>
        <servlet-class>Controller.Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuarios</servlet-name>
        <servlet-class>Controller.Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>Controller.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NUser</servlet-name>
        <servlet-class>Controller.NUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acerca</servlet-name>
        <servlet-class>Controller.Acerca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categorias</servlet-name>
        <url-pattern>/Categorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Producto</servlet-name>
        <url-pattern>/Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuarios</servlet-name>
        <url-pattern>/Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NUser</servlet-name>
        <url-pattern>/NUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acerca</servlet-name>
        <url-pattern>/Acerca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
